<form class="form-pedido" action="#" method="POST">

    <div class="group-form">
        <div class="form-produto">
            <div class="form-group">
                <label for="produto">Produtos <span>*</span></label>
                <input type="text" id="produto" name="produto" required>
              </div>
          
              <div class="form-group">
                  <label for="produto">Produto <span>*</span></label>
                  <input type="text" id="produto" name="produto" required >
            </div>
        </div>
    
      <div class="from-quantidade">
        <div class="form-group">
            <label for="quantidade">Quantidade <span>*</span></label>
            <input type="number" id="quantidade" name="quantidade" required >
          </div>
      
          <div class="form-group">
              <label for="quantidade">Quantidade <span>*</span></label>
              <input type="number" id="quantidade" name="quantidade" required >
          </div>
      </div>
     
    </div>


    <div class="form-group">
      <label for="observacao">Observação <span>*</span></label>
      <textarea id="observacao" name="observacao"></textarea>
    </div>
  
</form>

