<app-header></app-header>
<section class="container">
  <h1 class="title-p">{{ titleText }}</h1>

  <div class="cardapio-container">
    <app-card
      *ngFor="let card of cards"
      [routerLink]="['/categoria', card.titulo]"
      class="clickable-card"
      [imagem]="card.imagem"
      [titulo]="card.titulo"
      [descricao]="card.descricao"
      [routerLink]="['/categoria', card.titulo]"
    >
    </app-card>
  </div>
  
  <app-button
    [buttonText]="cardapioCompletoButtonText"
    [isUpper]="true"
  ></app-button>
</section>
